@page "/register"
@using MovieRental.Frontend.Components.Pages.LayoutsPages
@using MovieRental.Frontend.Dtos
@using MovieRental.Frontend.Models
@inject UserService UserService
@inject NavigationManager navigationManager
@rendermode InteractiveServer



<CascadingAuthenticationState>

    <PageTitle>Register</PageTitle>
    <nav>
        <NavMenu></NavMenu>
    </nav>

    <main>
        <h1>Register</h1>

        <div class="@LoadingOverlayClass">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only"></span>
            </div>
        </div>

        <AuthorizeView>
            <Authorized>
                <p>You are already registered and logged in. If you want to create another account, please <a href="/logout">logout</a> first.</p>
            </Authorized>
            <NotAuthorized>
                <p>
                    <strong>Disclaimer:</strong> This website is a fictional project created for educational purposes only. It is not intended for real-world use, and any data entered into the site may not be secure. Please do not use real personal information when interacting with the application. The site is designed to demonstrate web development concepts and technologies, and should not be considered a fully secure or production-ready application. Any purchases made on this site are purely fictional, and no actual movies will be delivered.
                </p>
                <EditForm Model="@RegisterModel" OnValidSubmit="HandleSubmitAsync" Context="editContextRegister" Enhance>
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>

                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <InputText class="form-control" id="username" @bind-Value="@RegisterModel.Username"
                                   autocomplete="username" placeholder="Enter your username"></InputText>
                        <ValidationMessage For="@(() => RegisterModel.Username)"/>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <InputText class="form-control" id="email" @bind-Value="@RegisterModel.Mail" type="email"
                                   aria-describedby="emailHelp" autocomplete="email"
                                   placeholder="Enter your email"></InputText>
                        <ValidationMessage For="@(() => RegisterModel.Mail)"/>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <InputText class="form-control" id="password" @bind-Value="@RegisterModel.Password"
                                   type="password" autocomplete="new-password"
                                   placeholder="Enter your password"></InputText>
                        <ValidationMessage For="@(() => RegisterModel.Password)"/>
                    </div>

                    <div class="mb-3">
                        <label for="password-confirm" class="form-label">Confirm password:</label>
                        <InputText class="form-control" id="password-confirm"
                                   @bind-Value="RegisterModel.ConfirmPassword" type="password"
                                   autocomplete="new-password" placeholder="Confirm your password"></InputText>
                        <ValidationMessage For="@(() => RegisterModel.ConfirmPassword)"/>
                    </div>

                    @if (!string.IsNullOrEmpty(ServerMessage))
                    {
                        <div class="alert alert-danger" role="alert">
                            @ServerMessage
                        </div>
                    }

                    <button type="submit" class="btn btn-primary" aria-label="Register">Register</button>

                </EditForm>
            </NotAuthorized>
        </AuthorizeView>
    </main>

</CascadingAuthenticationState>

@code {
	public RegisterModel? RegisterModel { get; set; } = new();
	private string? ServerMessage { get; set; }
	private string LoadingOverlayClass = "loading-overlay";

	private void ShowOverlay()
	{
		LoadingOverlayClass = "loading-overlay show";
	}

	private void HideOverlay()
	{
		LoadingOverlayClass = "loading-overlay";
	}

	private async Task HandleSubmitAsync()
	{
		ShowOverlay();
		try
		{
			var user = new RegisterUserDto
			{
				Username = RegisterModel.Username,
				Mail = RegisterModel.Mail,
				Password = RegisterModel.Password
			};
			string message = await UserService.RegisterUserAsync(user);
			if (message == "Success")
			{
				navigationManager.NavigateTo("/login");
			}
			else
			{
				ServerMessage = message;
			}
		}
		catch (Exception ex)
		{
			ServerMessage = $"An error occurred : {ex.Message}";
		}
	HideOverlay();
	}

}
